# Build results
bin/
obj/

# Rider / IntelliJ
.idea/
*.sln.iml

# User-specific files
*.user
*.suo
*.userprefs

# VS Code
.vscode/

# NuGet
*.nupkg
packages/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Publish
publish/
out/

# Test results
TestResults/
